<nav class="navbar navbar-light navbar-fixed-top bg-faded">
  <div class="container">
    <div id="navbar" class="navbar-toggleable-sm">
      <a class="navbar-brand" href="https://rtone.fr">
        <img src="/assets/logo-rtone.png" width="120" height="35" class="d-inline-block align-top" alt="">
        Sigfox training
      </a>
      <a class="nav-item nav-link float-md-right">
        <img src="/assets/logo-sigfox.png" width="100" height="40" class="d-inline-block align-top" alt="">
      </a>
    </div>
  </div>
</nav>
<div class="container" style="margin-top: 70px;">
  <router-outlet></router-outlet>
  <div class="card text-md-center" *ngIf="!isGLobal">
    <div class="card-header">
      Sigfox Challenge
    </div>
    <div class="card-block">
      <h4 class="card-title">Shoot'n score</h4>
      <div style="display: block" *ngIf="lineChartData != null">
        <canvas baseChart
                [datasets]="lineChartData"
                [options]="lineChartOptions"
                [legend]="true"
                [chartType]="'line'"></canvas>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="lineChartData == null">
        <strong>Oh snap !</strong>
        <div class="alert-link">No Data to show</div>
        try to shoot again !
      </div>
      <button type="button" class="btn btn-outline-danger" (click)="grabData()">Refresh</button>
    </div>
    <div class="card-footer text-muted">
      Last registered value time: <strong>{{updateTime}}</strong>
    </div>
  </div>

</div>
