<div class="container" style="margin-top: 70px;">
  <div class="card text-md-center" *ngIf="!isGLobal">
    <div class="card-header">
      Sigfox Challenge
    </div>
    <div class="card-block">
      <h4 class="card-title">Global results</h4>
      <div style="display: block" *ngIf="barChartData != null">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [colors]="backgroundColors"
                [options]="barChartOptions"
                [legend]="true"
                [chartType]="'bar'"></canvas>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="barChartData == null">
        <strong>Oh snap !</strong>
        <div class="alert-link">No Data to show</div>
        Refresh again !
      </div>
      <button type="button" class="btn btn-outline-danger" (click)="grabData()">Refresh</button>
    </div>
    <div class="card-footer text-muted">
      Last registered value time: <strong>{{updateTime}}</strong>
    </div>
  </div>

</div>
